.l1ex4 textarea
  width: 100%
  background-color: light_blue
.l1ex7
  thead
    input.input-box
      background-color: purple
      border: 1px solid #888
  tbody
    tr:nth-child(odd)
      input.input-box
        border: 1px solid #888
        background-color: light_blue
.l1ex10, .l1ex11 
  textarea
    width: 100%
    // background-color: light_blue
    border-radius: 10px
    // border-color: light_blue