@import '../addons/lfa-exercises/css/main'

lfa-framework()

@import _colors
@import _lesson1

body
  font-family: "Open Sans Condensed"
  font-weight: 300
  .header
    margin-top: 1em
    width: 100%
    margin-bottom: 3em
    .line
      background-color: yellow
      height: auto
      width: 100%
      border-radius: 5px 5px 0 5px
    .image
      padding: 0
      border: 6px solid yellow
      border-radius: 0 0 5px 5px
    h1
      margin: 0
      line-height: 1.2em
      @media(max-width:1200px) and (min-width:768px)
        font-size: 1.5em
      @media(max-width:480px)
        font-size: 1.5em
    h3
      margin-top: 0.7em
      line-height: 1.1em
    .lectie
      padding: .5em
      margin: 0
      font-size: .9em
  ul,li,p
    text-align: justify
    font-size: 1em
    margin-top: .3em
    margin-bottom: .3em
  ul li
    font-size: 1em
  .yellowbox
    background-color: pale_yellow
    &.info
      position: relative
      margin-top 2em
      padding-right 50px
      @media(max-width: 768px)
        margin-right: 2em
      img
        position: absolute
        height: 60px
        width: 60px
        right: -30px
        top: -30px
  .bluebox
    background-color: blue
  .yellowbox, .bluebox
    border-radius: 10px
    padding: 1em
    margin-top: .5em
    margin-bottom: .5em
    font-size: .9em
    p
      margin 0
  .titlu
    font-family: sans-serif
    font-weight: 700
    color: orange
  .inline-block
    display: inline-block
  .blue-title
    position: relative
    height: auto
    margin 1em 0 1em 0
    width: auto
    img, span
      display: inline-block
    span
      margin-top: -.5em
      position: absolute
      top: 7%
      margin-left: .5em
      height: auto
      width: auto
    img
      height: 70px
      width: 70px
      @media(max-width: 480px)
        height: 50px
        width: 50px
    h4
      margin 0
      color: dark_blue
      font-size: 1.3em
      font-family: serif
      @media(max-width: 480px)
        font-size: 1.2em
    h6
      margin 0
      font-weight: bold
      @media(max-width: 480px)
        font-size: .8em
  .bluetitle
    color: dark_blue
    font-family: serif
  table
    font-size: .9em
    border-collapse: collapse
    border 1px solid black
    margin-top: 1em
    margin-bottom: 1em
    th,td
      border 1px solid black
      padding .5em
    td
      padding .5em
    &.table-1
      border-collapse: separate
      border: none
      th,td
        border: none
      thead
        th:nth-child(odd)
          background-color: #333
          color: white
        th:nth-child(even)
          background-color: #444
          color: pale_yellow
        th:first-child
          border-radius: 15px 0 0 0
        th:last-child
          border-radius: 0 15px 0 0
      tbody
        tr
          &:nth-child(odd)
              td:nth-child(odd)
                background-color: medium_gray
              td:nth-child(even)
                background-color: light_gray
          &:nth-child(even)
              td:nth-child(odd)
                background-color: medium_yellow
              td:nth-child(even)
                background-color: pale_yellow
          &:last-child
            td:first-child
              border-radius: 0 0 0 15px
            td:last-child
              border-radius: 0 0 15px 0
    &.table-2
      border 1px solid #333
      th, td
        border 1px solid #333
      thead
        background-color: blue
        th
          padding .5em
      tbody
        tr *:first-child
          background-color: pale_yellow
    &.table-3
      thead
        background-color: dark_blue
        color: white
        th
          padding .5em
    &.table-4
      thead
        background-color: purple
        color: white
        th
          padding .5em
      tbody
        tr
          &:nth-child(odd)
            background-color: light_blue
.elementlist
  .row
    // border-top: 3px solid #ddd
    margin: 1em 0
    h1
      margin-bottom: 1em

.ex-number
  margin 1em 0 1em 0
  .ex-icon
    text-align: center
    background-color: rgb(255,248,174)
    border-radius: 50%
    width: 1.5em
    height: 1.5em
    margin: 0 auto
.footnote
  cursor: pointer
.footer
  height: 10em
  position: relative
  .text
    position: absolute
    left: 8%
    text-align: center
  .icons
    z-index: 1
    position: absolute
    bottom: 5%
    left: 0
    display: inline-block
    width: 80%
    text-align: center
    img
      width: 15%
      height: auto
      display: inline-block
      bottom: 0
      left: 0
  .banker
    z-index: 1
    position: absolute
    bottom: 0
    right: 0
    width: 20%
    display: inline-block
    img
      width: 100%
      margin: 0 auto
  .line
    height: 12%
    width: 100%
    background-color: pale_yellow
    position: absolute
    bottom: 0
    z-index: 0
