+article("1. Planificarea finanţelor proprii: Bugete, Venituri, Cheltuieli")
  +section("Lecția 1")
    +header("1", "Planificarea finanţelor proprii: Bugete, Venituri, Cheltuieli", "Planifică-ți resursele financiare!")
    p Cu cât ştii mai bine ce pot face banii de care dispui, cu atât vei avea mai mult succes în a economisi, planifica şi investi.
    p
      | În Dicționarul Explicativ al Limbii române, la cuvântul 
      em buget 
      |apare următorul text:
    .yellowbox
      p 
        strong buget 
        |– BUGÉT, bugete, s.n. Bilanţ al veniturilor şi cheltuielilor unui stat, ale unei întreprinderi etc. pe o perioadă determinată. • Totalitatea prevederilor de venituri şi cheltuieli ale unei familii sau ale unei persoane pentru o anumită perioadă. 
        br
        |[Var.: (rar) budgét s.n.] – Din fr. budget.
    p 
      |Important în defiiţie este cuvântul 
      strong PREVEDERE
      |.
    p Prevederea modului în care obţii resurse fianciare şi le cheltuieşti pe cele de care dispui la un moment dat se numeşte bugetare.
    p Urmarea unui buget de venituri şi cheltuieli este esenţială pentru a cheltui inteligent banii pe care îi dobândeşti cu dificultate.
    p Un buget este o prevedere, un plan de cheltuire a banilor câştigați.
    +info()
      p.text-uppercase
        strong NU UITA! UN BUGET ÎNSEAMNĂ PREVEDEREA CÂT MAI APROAPE DE REALITATE ȘI A VENITURILOR ȘI A CHELTUIELILOR!
    p
      | De fiecare dată când oamenii calculează dacă au bani suficienţi pentru a cumpăra un anumit lucru sau decid cum să îşi cheltuiască banii, ei exersează procedeele de alcătuire a bugetului, de alocare a cheltuielilor în funcţie de veniturile de care dispun. Un buget cuprinde lista resurselor financiare (
      strong.text-uppercase venituri
      |) şi sume de bani care pot fi folosite pentru diferite categorii de satisfacere a unei nevoi sau a unei dorințe, a unui obiectiv (
      strong.text-uppercase cheltuieli
      |). Trebuie să înţelegeți diferenţa dintre venituri şi cheltuieli, ce categorii pot exista pentru bugetul unei familii, cum să calculaţi sumele de bani care reprezintă veniturile şi cum pot fi cheltuite pentru diferite categorii şi cum nevoile pe care doriţi sau trebuie să le satisfaceți vă afectează deciziile privind alcătuirea bugetului.
    +bluetitle({
      img: "bla.jpg", 
      title: "Activitate individuală 1"
      })
    p Completaţi cercurile interioare şi exterioare pe măsură ce vă gândiţi şi discutaţi împreună categoriile tipice de buget. Două categorii au fost completate pentru a vă servi ca exemplu.
    h2 FIXME - it's a screenshot
    +img('img/lectia1-buget-screenshot.png')
    p Multe familii își alcătuiesc un buget scris care le arată de câți bani dispun lunar și cât de mulţi bani vor cheltui pentru categorii precum chirie, utilităţi, alimente, îmbrăcăminte, divertisment etc. Alte persoane ţin o evidenţă exactă a tuturor cheltuielilor şi veniturilor, ajustând frecvent bugetul. Mulți, însă, au o idee vagă despre destinaţia banilor lor şi ţin un buget orientativ în memorie sau deloc.