+article("1. Planificarea finanţelor proprii: Bugete, Venituri, Cheltuieli")
  +section("Lecția 1")
    +header("1", "Planificarea finanţelor proprii: Bugete, Venituri, Cheltuieli", "Planifică-ți resursele financiare!")
    p Cu cât ştii mai bine ce pot face banii de care dispui, cu atât vei avea mai mult succes în a economisi, planifica şi investi.
    p
      | În Dicționarul Explicativ al Limbii române, la cuvântul 
      em buget 
      |apare următorul text:
    .yellowbox
      p 
        strong buget 
        |– BUGÉT, bugete, s.n. Bilanţ al veniturilor şi cheltuielilor unui stat, ale unei întreprinderi etc. pe o perioadă determinată. • Totalitatea prevederilor de venituri şi cheltuieli ale unei familii sau ale unei persoane pentru o anumită perioadă. 
        br
        |[Var.: (rar) budgét s.n.] – Din fr. budget.
    p 
      |Important în defiiţie este cuvântul 
      strong PREVEDERE
      |.
    p Prevederea modului în care obţii resurse fianciare şi le cheltuieşti pe cele de care dispui la un moment dat se numeşte bugetare.
    p Urmarea unui buget de venituri şi cheltuieli este esenţială pentru a cheltui inteligent banii pe care îi dobândeşti cu dificultate.
    p Un buget este o prevedere, un plan de cheltuire a banilor câştigați.
    +info()
      p.text-uppercase
        strong NU UITA! UN BUGET ÎNSEAMNĂ PREVEDEREA CÂT MAI APROAPE DE REALITATE ȘI A VENITURILOR ȘI A CHELTUIELILOR!
    p
      | De fiecare dată când oamenii calculează dacă au bani suficienţi pentru a cumpăra un anumit lucru sau decid cum să îşi cheltuiască banii, ei exersează procedeele de alcătuire a bugetului, de alocare a cheltuielilor în funcţie de veniturile de care dispun. Un buget cuprinde lista resurselor financiare (
      strong.text-uppercase venituri
      |) şi sume de bani care pot fi folosite pentru diferite categorii de satisfacere a unei nevoi sau a unei dorințe, a unui obiectiv (
      strong.text-uppercase cheltuieli
      |). Trebuie să înţelegeți diferenţa dintre venituri şi cheltuieli, ce categorii pot exista pentru bugetul unei familii, cum să calculaţi sumele de bani care reprezintă veniturile şi cum pot fi cheltuite pentru diferite categorii şi cum nevoile pe care doriţi sau trebuie să le satisfaceți vă afectează deciziile privind alcătuirea bugetului.
    +bluetitle({
      img: "bla.jpg", 
      title: "Activitate individuală 1"
      })
    p Completaţi cercurile interioare şi exterioare pe măsură ce vă gândiţi şi discutaţi împreună categoriile tipice de buget. Două categorii au fost completate pentru a vă servi ca exemplu.
    h2 FIXME - it's a screenshot
    +img('img/lectia1-buget-screenshot.png')
    p Multe familii își alcătuiesc un buget scris care le arată de câți bani dispun lunar și cât de mulţi bani vor cheltui pentru categorii precum chirie, utilităţi, alimente, îmbrăcăminte, divertisment etc. Alte persoane ţin o evidenţă exactă a tuturor cheltuielilor şi veniturilor, ajustând frecvent bugetul. Mulți, însă, au o idee vagă despre destinaţia banilor lor şi ţin un buget orientativ în memorie sau deloc.
    p Bugetele sunt personale şi unice. Există numeroase decizii pe care trebuie să le luăm atunci când alcătuim un buget. Unii oameni aleg să cheltuiască o sumă importantă din banii câştigaţi pentru o maşină nouă, în timp ce alţii aleg o maşină second-hand şi alocă mai mulţi bani pentru haine sau chirie. O parte dintre decizii influenţează şi alte decizii.
    .pull-left.col-sm-4
      img(src='img/l1casa.png')
      h3 FIXME - replace screenshot
    p De exemplu, dacă alegeţi să cumpăraţi o casă mare, atunci şi factura la energie electrică va fi mare. Dacă aveţi foarte multe cheltuieli medicale, atunci probabil că nu veţi mai avea atât de mulţi bani pentru recreere sau vacanţe.
    p Bugetele trebuie să fie flexibile, adică atunci când veniturile unei persoane se schimbă, se modifică şi bugetele. Dacă nu se procedează la ajustarea prevederilor bugetului, există riscul ca atunci când veniturile sunt mai mici și cheltuielile nu se ajustează sau nu pot fi ajustate corespunzător, să nu existe resurse financiare pentru acoperirea lor, sau să trebuiască să faci împrumuturi care, dacă le poţi face, aduc cu ele şi alte cheltuieli.
    +bluetitle({
      img:'bla.png',
      title:"Activitate individuală 2",
      subtitle:"Citiţi studiul de caz de mai jos şi răspundeţi la întrebări."
      })
    p Maria face parte dintr-o formaţie instrumentală şi este elevă în clasa a X-a la liceu. Ea are un serviciu cu jumătate de normă (are peste 16 ani, deci poate lucra), lucrând 20 de ore pe săptămână la supermarket pentru 5,15 lei/oră. Venitul ei lunar brut este de 412 lei şi salariul net este de 329,60 lei. În timpul liber, Maria este şi babysitter, uneori, pentru vecina de alături, câştigând aproximativ 60 lei lunar.
    .pull-right.col-sm-4
      +img('img/l1rochie.png')
      h3 FIXME - replace screenshot
    p Părinții ei îi dau pentru cheltuieli lunare (bani de buzunar) 150 lei. În trei săptămâni, Maria va da o petrecere surpriză pentru prietena ei Sara. Această petrecere o va costa 50 lei, dar ea planifică să cumpere şi o rochie nouă pentru petrecere, în valoare de 50 lei, iar cadoul ei pentru Sara va costa 35 lei.
    p Mai trebuie să îşi repare DVD player-ul stricat şi această reparaţie o va costa 79 lei. De asemenea, ea s-a hotărât să înceapă să economisească pentru Crăciun, sărbătoare care va fi peste patru luni şi cu ocazia căreia cheltuieşte de obicei în jur de 150 lei pe cadourile pentru prieteni şi rude.
    p Deşi părinţii au promis că o vor ajuta să îşi plătească taxele de şcolarizare pentru facultate, ea ştie că va trebui să plătească pentru cazare, masă şi cărţi. Camera şi masa o vor costa 650 lei pentru fiecare semestru la o universitate de stat şi cărţile, 300 lei.
    +exnumber(1, "Care este venitul lunar net al Mariei?")
    +exnumber(2, "Care este valoarea medie a cheltuielilor lunare făcute de Maria?")
    +exnumber(3, "Cu ce sumă de bani rămâne Maria după ce îşi plăteşte cheltuielile lunare?")
    +exnumber(4, "Completaţi următorul tabel cu Planificarea obiectivelor.")
    +exnumber(5, "Dacă petrecerea pe care Maria o va organiza va costa 135 lei, cu ce sumă de bani va rămâne ea luna aceasta?")
    +exnumber(6, "Câţi bani este necesar să economisească Maria în fiecare lună pentru următoarele patru luni ca să aibă suficienţi bani pentru cumpărăturile de Crăciun?")
    +exnumber(7, "Completaţi mai jos bugetul lunar al Mariei.")
    +exnumber(8, "Ce sumă de bani îi va rămâne Mariei în această lună după ce şi-a plătit cheltuielile, a economisit pentru Crăciun şi a organizat petrecerea pentru Sara?")
    +exnumber(9, "Câţi bani credeţi că va trebui să economisească Maria în fiecare lună, pentru a-şi atinge obiectivul pe termen lung?")
    p Mai devreme sau mai târziu va trebui să vă planificaţi bugetul personal. Învăţând despre modul în care dobândiți veniturile, resursele financiare (de unde vă vin banii și câți) și categoriile uzuale de cheltuieli care sunt incluse în majoritatea bugetelor personale şi despre procentele din venit pe care oamenii le alocă acestor categorii, vă va ajuta mai târziu. Pentru a vă asigura un viitor financiar sigur, anticiparea veniturilor și cheltuielilor şi planificarea lor este obligatorie. Alcătuirea unui buget este o parte deosebit de importantă a acestei planificări. Un buget este schiţarea veniturilor şi cheltuielilor planificate pentru o perioadă de timp specificată.
    +bluetitle({
      img:'bla.png',
      title:"Activitate individuală 3",
      subtitle:"Planul de cheltuieli"
      })
    p
      em
        strong Instrucţiuni: 
        |Pentru a plăti echivalentul realizării unei nevoi, a unui obiectiv pe termen lung, o persoană trebuie să economisească lunar o anumită sumă de bani. Ce reguli de bugetare aţi putea aplica în cazul următorului buget pentru a atinge obiectivul de a economisi 300 lei pe lună?
    p Notaţi în spaţiul de mai jos trei reguli propuse individual şi trei reguli descoperite împreună cu colegii.
    table
      tr
        th Venit
        th Înainte
        th După
      tr
        th Venituri totale
        td 1.500 lei
        td 1.500 lei
      tr
        th Cheltuieli fixe
        td
        td
      tr
        td Chirie pentru locuință
        td 500 lei
        td 500 lei
      tr
        td Asigurare de sănătate
        td 50 lei
        td 50 lei
      tr
        td Asigurarea locuinței
        td 100 lei
        td 20 lei
      tr
        td Asigurarea auto
        td 50 lei
        td 100 lei
      tr
        th Economii planificate (oprite automat din salariu)
        td 100 lei
        td ... lei
      tr
        th Cheltuieli fixe totale
        td 770 lei
        td ... lei
      tr
        th Cheltuieli variabile
        td
        td
      tr
        td Alimente
        td 165 lei
        td ...lei
      tr
        td Masa în oraș
        td 55 lei
        td ...lei
      tr
        td Utilităţi
        td 105 lei
        td ...lei
      tr
        td Medicale
        td 40 lei
        td ...lei
      tr
        td Îmbrăcăminte
        td 30 lei
        td ...lei
      tr
        td Cadouri
        td 30 lei
        td ...lei
      tr
        td Cărți, reviste și ziare
        td 40 lei
        td ...lei
      tr
        td Mobilarea și dotarea casei
        td 40 lei
        td ...lei
      tr
        td Îngrijire personală
        td 30 lei
        td ...lei
      tr
        td Timp liber
        td 50 lei
        td ...lei
      tr
        td Card bancar
        td 30 lei
        td ...lei
      tr
        td Diverse/personale
        td 35 lei
        td ...lei
      tr
        th Cheltuieli variabile totale
        td 730 lei
        td ...lei
      tr
        th Cheltuieli totale
        td 1.500 lei
        td ...lei
