mixin info()
  if block
    .yellowbox.info
      img(src="img/kitten.jpg")
      block
mixin bluetitle(options)
  .blue-title
    if (options.img)
      img(src="img/"+options.img)
      //- div
      span
        h4= options.title
        if(options.subtitle)
          h6= options.subtitle
    else
      h4= options.title
      if(options.subtitle)
        h6= options.subtitle